streamlit>=1.37.0
google-generativeai==0.3.2
opencv-python-headless==4.9.0.80
Pillow>=10.3.0
python-dotenv==1.0.1
pytesseract==0.3.10
matplotlib==3.8.3
requests>=2.32.0
numpy==1.26.4
grpcio==1.57.0
pydantic==1.10.13
uvicorn[standard]==0.23.1
notion-client==2.2.1
pytest==7.4.3 