streamlit>=1.32.0
pytesseract>=0.3.10
opencv-python-headless>=4.9.0.80
numpy>=1.26.4
pillow>=10.2.0
python-dotenv>=1.0.1
google-generativeai>=0.3.2
matplotlib>=3.8.3
requests>=2.32.0
grpcio>=1.57.0
pydantic>=1.10.13
uvicorn[standard]>=0.23.1
notion-client>=2.2.1
pytest>=7.4.3 